/* colors
#ED1C5B;
#E20E4B; */

.root {
    --primary-color: #F84249;
    --secondary-color: #232B2B;
    --third-color: #8DF3C6;
    --fourth-color:  #20639B;
    --day-color:#63500c;
    --night-ligth: #fce38a;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar {
    position: fixed;
    color: var(--fourth-color);
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    /* transition: background-color 0.25s ease-in */
    top: 0;
    left: 0;
    z-index: 1;
}

.sidebar h2 {
    margin: 10px;
    top: 10px;
    padding: 40px 0 10px 20px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    /* margin: 0px;
    top: 10px;
    padding: 30px 0 0 20px; */
    color: #20639B;
}

.sidebar .note-img {
    max-width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

.notes-container {
    
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container{
  padding: 1rem;
  margin: 0 0.2rem;
  cursor: pointer;
  text-align: left;
  border-radius: 1rem;
  transition: color, background-color 0.3s ease-in-out;
  
}

.main-container:hover {
    background-color: #7fb9e9;
}

.notes-title {
    
  font-size: 1.2rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: #20639B;
}

.notes-item {
    
  font-size: 1rem;
  color: var(--secondary-text);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 0.5rem;
}

.notes-item-selected {
    background-color: #bfe6d5;
    color: #20639B;
}
  
/* .notes-item,
.notes-item-selected {
  padding: 1rem;
  margin: 0.5rem -0.8rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: color, background-color 0.3s ease-in-out;
  color: #20639B;
} */

.btn-add {
   
    position: absolute;
    bottom: 170px;
    right: 10px;
    border: 2px solid #20639B;
    border-radius: 30px;
    padding: 5px;
    margin-left: 50px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    
}

.add-note {
    margin-left: 50px;
    padding: 16px 0;
    min-width: 150px;
    max-width: 150px;
    border: 2px solid #20639B;
    color: #20639B;
    background-color: transparent;
}

.add-icon {
    height: 20px;
    width: 20px;
    margin: 0 6px 0 6px;
}

.btn-save {
    
    position: absolute;
    bottom: 90px;
    right: 10px;
    border: 2px solid #20639B;
    border-radius: 30px;
    padding: 5px;
    margin-left: 50px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    text-align: center;
}

.save-note {
    margin-left: 50px;
    padding: 16px 0;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #20639B;
    color: #20639B;
    min-width: 150px;
    max-width: 150px;
}

.btn-delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid red;
    border-radius: 30px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.delete-note {
    margin-left: 50px;
    padding: 16px 0;
    background-color: transparent;
    border: 2px solid red;
    color: red;
    min-width: 150px;
    max-width: 150px;
}

.delete-icon {
    height: 20px;
    width: 20px;
    margin: 0 14px 0 14px;
}

.note-body {
    background-color: #EDFBFB;
    overflow: hidden;
}

.main {
    margin-left: 320px;
    padding: 0px;
}

.main h2 {
    margin: 10px;
    top: 10px;
    padding: 40px 0 10px 20px;
    color: #20639B;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* .main .capital {
    text-transform: uppercase;
} 
.main-img {
    max-width: 90%;
    object-fit: none;
}*/

input[type="checkbox"] {
    display: none;
    background-color: #0892d6;
}

label {
    position: absolute;
    margin: 20px 40px 0 0;
    top: 10px;
    right: 20px;
    border: 2px solid rgb(59, 153, 241);
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

.content {
    font-size: 18px;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: justify;
    box-sizing: border-box;
    transition: .2s;
}

.day-mode {
    color: #0892d6;
    font-size: 15px;
    text-shadow: 0px 0px 20px #0892d6;
    transform: translate(25px);
    transition: 0.3s;
    border-radius: 30px;
}

.night-mode {
    color: yellowgreen;
    font-size: 15px;
    text-shadow: 0px 0px 20px #0892d6;
    transform: translate(0px);
    opacity: 0;
    transition: 0.3s;
    border-radius: 30px;
}

#switch-button:checked~label>.day-mode {
    opacity: 0;
    transform: translateX(0px);
}

#switch-button:checked~label>.night-mode {
    opacity: 1;
    transform: translateX(-25px);
}

#switch-button:checked~.content {
    background: #181d22;
    color: #5cbbeb;
}

.text-title {
    height: 0.7vh;
    width: 160%;
    margin: 10px;
    top: 10px;
    padding: 20px;
    max-width: 75%;
    letter-spacing: 1px;
    color: #20639B;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
}
.text-body {
    height: 60vh;
    width: 160%;
    margin: 10px;
    top: 30px;
    padding: 20px;
    max-width: 75%;
    letter-spacing: 1px;
    color: #20639B;
    font-size: medium;
    border: none;
    resize: none;
    display: block;
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif;
   
}
.text-title, 
.text-body:focus {
    outline: none;
    /* min-width: 0; */
}

.text-title::placeholder {
    color: #20639B;
}
.text-body::placeholder {
    color: #20639B;
}

/* .test1 {
    height: 10px;
    width: 10px;
    background-color: #fce38a;
    border-radius: 50%;
    padding: 10px;
}

.test2 {
    height: 10px;
    width: 10px;
    background-color: #63500c;
    border-radius: 50%;
    padding: 10px;
} */